    <div class="container multi-listing">
    <%@category_collection_hash.each do |key,cat_list| %>
        <div class="row">
          <div class="col-xs-12 cat-label">
            <h2><%=key%></h2>
          </div>
        </div>
        <div class="row">
      <%cat_list.each do |itm|%>
        <div class="col-sm-4 col-md-3 listing">
            <div class="thumbnail">

               <% fp_string = "products/#{itm["img-file"]}.jpg"%>
               <% path_to_img = asset_path(fp_string)%>

              <img src="<%=path_to_img%>" alt="...">
              <div class="caption">
                <h3><%= itm["item"] %> 
                  <% if itm["on_clearance"] == true %> 
                  <small><br><%= "On Clearance!" %></small>
                  <% end %>
               </h3>

                <p>$<%= itm["price"] %> </p>        
                <p> <a href="/main/single/<%=itm["pid"]%>" class="btn btn-default" role="button">More Info</a></p>
            </div>
          </div>
        </div>
      <%end%>
      </div>
    <%end %>

   </div>
</div>
